html {
  box-sizing: border-box;
}

body {
  background-color: clr(white);
  color: clr(text);
  font-family: $font-body;
  font-size: 1rem;
  line-height: 1.3em;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.main {
  display: block; /* Fix for IE weirdness */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include break-word;

  font-family: $font-heading;
  line-height: 1.3em;
}

.visually-hidden {
  @include visually-hidden;
}

// Tab navigation.
@supports (contain: none) {
  *:focus-visible {
    outline: 4px solid clr(black) !important;
  }
}

/* Safari & IE11 */
@supports not (contain: none) {
  *:focus {
    outline: 4px solid clr(black) !important;
  }
}
