html {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  color: clr(text);
  line-height: 1.3em;
  font-family: $font-body;
  background-color: clr(gray-lightest);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.main {
  display: block; /* Fix for IE weirdness */
}

h1, h2, h3, h4, h5, h6 {
  @include break-word;

  line-height: 1.3em;
  font-family: $font-heading;
}

.visually-hidden {
  @include visually-hidden;
}
