// Mixin to define colors for one or more schemes.
// Simply pass the color scheme to the mixin to get the colors defined in the map.
// e.g. @include buttonColors(default) will get all of the colors defined in the "default" section.
@mixin button-colors(
  $bg: clr(white),
  $text: clr(purple),
  $bgHover: clr(purple),
  $textHover: clr(white),
  $bgDisabled: clr(gray-light),
  $textDisabled: clr(white),
  $icon: clr(purple),
  $iconHover: clr(white),
  $iconDisabled: clr(white)
) {
  color: $text;
  position: relative;
  min-height: $space-40;
  background-color: $bg;

  &:hover {
    color: $textHover;
    background-color: $bgHover;

    .button__icon {
      fill: $iconHover;
      stroke: $iconHover;
    }
  }

  &:disabled,
  &[disabled] {
    color: $textDisabled;
    background-color: $bgDisabled;

    .button__icon {
      fill: $iconDisabled;
      stroke: $iconDisabled;
    }
  }

  .button__icon {
    fill: $icon;
    stroke: $icon;
    pointer-events: none;
  }
}

@mixin button-border(
  $border: clr(purple),
  $borderHover: clr(purple),
  $borderDisabled: clr(gray-light)
) {
  border: $space-2 solid $border;
  padding: $space-12 $space;

  &:hover {
    border: $space-2 solid $borderHover;
  }

  &:disabled,
  &[disabled] {
    border: $space-2 solid $borderDisabled;
  }
}

// The button-base mixin contains styles that apply to all buttons
// regardless of color or size.
@mixin button-base {
  cursor: pointer;
  border: none;
  font-weight: 700;
  position: relative;
  text-align: center;
  align-items: center;
  display: inline-flex;
  font-size: px2rem(14);
  text-decoration: none;
  justify-content: center;
  border-radius: px2rem(12);
  padding: $space-12 $space;

  .button__icon {
    display: flex;
    width: 0.7rem;
    height: 0.7rem;
    align-items: center;
    margin-left: $space-8;
  }
}

.button {
  @include button-base;
  @include button-border;
  @include button-colors;

  &--outline-gray {
    @include button-border(clr(gray), clr(gray));
    @include button-colors(
      transparent,
      clr(gray),
      clr(gray),
      clr(white),
      transparent,
      clr(gray-light),
      $icon: clr(gray),
      $iconHover: clr(white),
      $iconDisabled: clr(gray-light)
    );
  }

  &--link {
    @include button-border(transparent, transparent, transparent);
    @include button-colors(
      transparent,
      clr(blue),
      transparent,
      clr(purple),
      transparent,
      clr(gray-light),
      $icon: clr(blue),
      $iconHover: clr(purple),
      $iconDisabled: clr(gray-light)
    );
    padding: 0;

    &:hover,
    &:disabled,
    &[disabled] {
      text-decoration: underline;
    }
  }

}

// CTA's in the wysiwyg editor.
.text-long {
  .button--cta {
    margin: 0.5rem 0;
    color: clr(white);
  }
}
